body {
    background-color:white;
    font-family:Verdana,Tahoma,Arial,Sans-Serif;
    color:black;
    font-size:12px;
}

#timeDisplay {
    font-family: sans-serif, 'Conv_Crysta';
    font-size: 80px;
    text-align: right;
    border: 1px solid #666;
}

.buttons_frame {
    position: relative;
}

.click_disabled {
    color: #999;
}

.click_enabled {
    color: #fff;
}

.control_button {
    border: 1px solid black;
    position: absolute;
    top: 5px;
    width: 47%;

    padding: 2px;

    font-size: 50px;
    text-align: center;
}

#btn_start {
    left: 0px;
}

#btn_lap {
    right: 0px;
}

